In [43]:
# -*- coding: utf-8 -*-
import os
import pandas as pd 
import numpy as np

from sklearn import svm
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import GridSearchCV

In [33]:
os.chdir("makecsv/")
df = pd.read_csv("onehotencorder.csv",header = 0)

FileNotFoundError: [Errno 2] No such file or directory: 'makecsv/'

In [3]:
df.head()

,successorfail,moneygoal,image,projectdetail,riskchallengedetail,numberofpackage,avemoneypackage,minmoneypackage,maxmoneypackage,category_animemanga,...,category_fashion,category_food,category_product,category_restaurants,category_world,category_bookjournalism,category_regionalactivation,category_movie,category_communityservice,category_music
0,1,500000,33,1433,186,14,139964,30000,255200,0,...,0,0,1,0,0,0,0,0,0,0
1,1,200000,34,1348,230,10,11645,550,57810,0,...,0,0,1,0,0,0,0,0,0,0
2,1,3000000,20,2185,117,11,10580,1980,24800,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1000000,17,1319,159,17,137664,1600,1787500,0,...,0,0,1,0,0,0,0,0,0,0
4,1,3000000,36,2704,0,17,110695,3000,525000,0,...,0,0,1,0,0,0,0,0,0,0

In [4]:
data = df[list(df.columns)[1:]]
data.head()

,moneygoal,image,projectdetail,riskchallengedetail,numberofpackage,avemoneypackage,minmoneypackage,maxmoneypackage,category_animemanga,category_game,...,category_fashion,category_food,category_product,category_restaurants,category_world,category_bookjournalism,category_regionalactivation,category_movie,category_communityservice,category_music
0,500000,33,1433,186,14,139964,30000,255200,0,0,...,0,0,1,0,0,0,0,0,0,0
1,200000,34,1348,230,10,11645,550,57810,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3000000,20,2185,117,11,10580,1980,24800,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1000000,17,1319,159,17,137664,1600,1787500,0,0,...,0,0,1,0,0,0,0,0,0,0
4,3000000,36,2704,0,17,110695,3000,525000,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
answers = df['successorfail'] 

X_train, X_test, y_train, y_test = train_test_split(data, answers, train_size=0.8, test_size=0.2, random_state=1)

In [7]:
X_train.count()

moneygoal                      425
image                          425
projectdetail                  425
riskchallengedetail            425
numberofpackage                425
avemoneypackage                425
minmoneypackage                425
maxmoneypackage                425
category_animemanga            425
category_game                  425
category_kosumebeauty          425
category_startup               425
category_sports                425
category_technology            425
category_fashion               425
category_food                  425
category_product               425
category_restaurants           425
category_world                 425
category_bookjournalism        425
category_regionalactivation    425
category_movie                 425
category_communityservice      425
category_music                 425
dtype: int64

In [14]:
X_test.count()

moneygoal                      107
image                          107
projectdetail                  107
riskchallengedetail            107
numberofpackage                107
avemoneypackage                107
minmoneypackage                107
maxmoneypackage                107
category_animemanga            107
category_game                  107
category_kosumebeauty          107
category_startup               107
category_sports                107
category_technology            107
category_fashion               107
category_food                  107
category_product               107
category_restaurants           107
category_world                 107
category_bookjournalism        107
category_regionalactivation    107
category_movie                 107
category_communityservice      107
category_music                 107
dtype: int64

In [11]:
lr = linear_model.LinearRegression()

In [12]:
lr.fit(X_train,y_train)

LinearRegression()

In [14]:
y_predict = lr.predict(X_test)

In [46]:
train_score = mean_squared_error(y_test,y_predict)

In [47]:
train_score

0.018814327559649638

In [41]:
print("トレーニングデータに対する正解率：" + str(train_score * 100) + "%")

トレーニングデータに対する正解率：1.8814327559649637%

In [48]:
y_predict

array([1.00172897, 0.98906847, 0.99563265, 0.99057416, 1.00013419,
       0.98942738, 0.98881114, 0.99628862, 0.97774018, 1.00377661,
       0.99332993, 0.99337536, 0.99962893, 0.99425977, 0.99770067,
       0.9835647 , 0.9986526 , 0.99834564, 0.98514241, 0.98714119,
       0.99800889, 1.00353484, 0.99389982, 1.01273228, 0.99350068,
       0.996557  , 0.97910783, 0.99435669, 1.00700847, 0.99045299,
       0.99011602, 0.98574411, 0.98330957, 1.00628642, 0.997812  ,
       0.99838997, 0.98886452, 0.98146019, 0.99488712, 0.99994096,
       0.99513441, 0.99553777, 1.00726471, 0.99048836, 0.99198348,
       0.99988953, 1.00459546, 0.99515881, 0.99985358, 0.99370614,
       0.99833573, 0.99134319, 0.99510987, 1.00585664, 0.99923114,
       0.99938893, 0.99152332, 1.00700847, 0.98927343, 0.99447029,
       0.99787666, 0.99480088, 1.01248423, 0.99832838, 0.99854481,
       0.99406097, 0.99681937, 0.98899441, 1.0041411 , 1.00405412,
       0.99666541, 0.99365875, 0.99550079, 0.99264942, 0.99075967,
       0.99340399, 1.00256121, 0.98906   , 0.9978469 , 1.00263916,
       1.00073565, 0.99724287, 0.97832322, 1.00405088, 1.00371744,
       0.98823078, 0.99787664, 1.00924003, 0.99143231, 0.99561606,
       1.00030473, 0.98941306, 0.98205165, 0.98879538, 1.00483961,
       0.99004203, 0.98825017, 0.99899436, 0.98918242, 0.99966234,
       0.99549057, 0.99972141, 0.99943878, 1.00074686, 0.98362234,
       1.00880964, 1.00081501])

In [20]:
type(y_test)

pandas.core.series.Series

In [24]:
X_test.head(10)

,moneygoal,image,projectdetail,riskchallengedetail,numberofpackage,avemoneypackage,minmoneypackage,maxmoneypackage,category_animemanga,category_game,...,category_fashion,category_food,category_product,category_restaurants,category_world,category_bookjournalism,category_regionalactivation,category_movie,category_communityservice,category_music
110,3000000,43,1699,0,3,40320,15120,75600,0,0,...,0,0,1,0,0,0,0,0,0,0
244,300000,5,322,0,6,37551,25750,57930,0,0,...,0,0,1,0,0,0,0,0,0,0
430,500000,36,604,0,6,8073,4980,13500,0,0,...,0,0,1,0,0,0,0,0,0,0
438,300000,29,1717,128,14,22688,13488,38216,0,0,...,1,0,0,0,0,0,0,0,0,0
233,1000000,63,5532,197,10,41212,15730,147620,0,0,...,0,0,1,0,0,0,0,0,0,0
250,300000,29,1401,34,17,11547,5600,20300,0,0,...,0,0,1,0,0,0,0,0,0,0
214,300000,37,1084,113,8,5104,3984,7968,0,0,...,0,0,1,0,0,0,0,0,0,0
277,200000,35,442,0,3,4380,3880,4880,0,0,...,0,0,1,0,0,0,0,0,0,0
47,300000,27,1707,90,36,6931,3800,25500,0,0,...,0,0,1,0,0,0,0,0,0,0
90,1000000,50,3311,0,11,100400,23000,126000,0,0,...,0,0,1,0,0,0,0,0,0,0

In [26]:
y_train.head()

486    1
201    1
312    1
372    1
525    1
Name: successorfail, dtype: int64